
@{
    
}

<!DOCTYPE html>

<html>
<head>
    
    <header>
        <div>

            <h1>Where To Buy</h1>

        </div>
    </header>

    <title>Where To Buy</title>

    
</head>
<body>
    <ul style="list-style-type:none">

        <li><a href="https://www.footlocker.com/">Foot Locker</a></li>
        <li><a href="https://www.footaction.com/">FootAction</a></li>
        <li><a href="https://www.flightclub.com/">Flight Club</a></li>
    </ul>

</body>
</html>
