

@{

}

<!DOCTYPE html>
<html>

<body>
    <header>
        <div class="header">

            <h1>Release Dates</h1>
            
        </div>


    </header>
    <main>
        <article>


                <div class="row">
                    <div class="column">
                        <h2>"Jordan Raptor 4 "</h2>
                        <img src="/images/jordan4.jpg" alt="Picture" height="230" width="320">


                        <p >
                            You're sure to turn heads with The Jordan Raptor 4. The red and purple compliments its black sleak design. 
                        </p>

                        <button type="button" onclick="location.href='@Url.Action("Index", "Buy")'">Buy Here</button>
                        <button type="button" onclick="location.href='@Url.Action("Index", "Shoe")'">Add To Wish List</button>
                    </div>

                    



                    <div class="column">
                        <h2>"Wmns Air Max 97"</h2>
                        <img src="~/images/AirMax97.jpg" alt="Picture" height="230" width="250">
                        <p>This iconic shoe is given an up to date colorway. This shoe is sure to turn heads with its sleek design.</p>
                        <button type="button" onclick="location.href='@Url.Action("Index", "Buy")'">Buy Here</button>
                        <button type="button" onclick="location.href='@Url.Action("Index", "Shoe")'">Add To Wish List</button>


                    </div>
                </div>



                    


        </article>
    </main>

    
</body>
