@model MySneakerWishList.ViewModels.AddShoeViewModel

<h1>Add a Shoe to Your Wish List</h1>

<form asp-controller="Shoe" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
    </div>





    <input type="submit" value="Add Shoe" />

</form>