@model List<MySneakerWishList.Models.Shoe>




<h1>Add a Category</h1>

<table class="table">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>

    


    @foreach (var shoe in Model)
    {
        <tr>
            <td>@shoe.Name </td>
            <td>@shoe.Description</td>
            <td>@shoe.Category.Name</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No shoes yet!</p>
}

    <td>

        <a asp-controller="Shoe" asp-action="Add">Add </a> |
        <a asp-controller="Shoe" asp-action="Remove">Remove</a>
    </td>
